<div id="gallery__item--{{@index}}" class="gallery__grid__item gallery__grid__item--{{class}}" style="order:{{@index}}">
  {{#if url}}<a href="/image/{{url}}/" data-src="{{src}}" class="" name="{{title}}" tabindex="0"
   >{{/if}}
   <div class="gallery__tile">
      <header class="gallery__tile__header type--sub">
        <h2 class="type--base">{{title}}</h2>
        <h1 class="type--doublebase">{{short}}</h1>
      </header>

      {{#if src}}
      <picture class="gallery__tile__image lazy-load" data-src="{{poster.imgix}}">

        {{#eq class "single"}}
        <source media="(min-width: 1600px)" _srcset="{{src}}?auto=format&w=1900&h=1024&fit=crop&crop={{crop}}">
        <source media="(min-width: 1024px) and (max-width: 1599px)" _srcset="{{src}}?auto=format&w=1600&h=862&fit=crop&crop={{crop}}">
        <source media="(max-width: 1023px) and (min-width: 769px)" _srcset="{{src}}?auto=format&w=1024&h=552&fit=crop&crop={{crop}}">
        <source media="(max-width: 768px) and (min-width: 481px)" _srcset="{{src}}?auto=format&w=768&h=413&fit=crop&crop={{crop}}">
        <source media="(max-width: 480px)" _srcset="{{src}}?auto=format&w=480&h=258&fit=crop&crop={{crop}}">
        <img class="" data-object-fit="cover" src="{{src}}?auto=format&w=320&h=172&blur=10&fit=crop&crop={{crop}}" alt="">
        {{/eq}}
        {{#eq class "double"}}
        <source media="(min-width: 1600px)" _srcset="{{src}}?auto=format&w=800&h=1024&fit=crop&crop={{crop}}">
        <source media="(min-width: 1024px) and (max-width: 1599px)" _srcset="{{src}}?auto=format&w=800&h=862&fit=crop&crop={{crop}}">
        <source media="(max-width: 1023px) and (min-width: 769px)" _srcset="{{src}}?auto=format&w=512&h=552&fit=crop&crop={{crop}}">
        <source media="(max-width: 768px) and (min-width: 481px)" _srcset="{{src}}?auto=format&w=372&h=413&fit=crop&crop={{crop}}">
        <source media="(max-width: 480px)" _srcset="{{src}}?auto=format&w=240&h=258&fit=crop&crop={{crop}}">
        <img class="" data-object-fit="cover" src="{{src}}?auto=format&w=160&h=172&blur=10&fit=crop&crop={{crop}}" alt="">
        {{/eq}}
        {{#eq class "triple"}}
        <source media="(min-width: 1600px)" _srcset="{{src}}?auto=format&w=540&h=1024&fit=crop&crop={{crop}}">
        <source media="(min-width: 1024px) and (max-width: 1599px)" _srcset="{{src}}?auto=format&w=540&h=800&fit=crop&crop={{crop}}">
        <source media="(max-width: 1023px) and (min-width: 769px)" _srcset="{{src}}?auto=format&w=342&h=640&fit=crop&crop={{crop}}">
        <source media="(max-width: 768px) and (min-width: 481px)" _srcset="{{src}}?auto=format&w=256&h=428&fit=crop&crop={{crop}}">
        <source media="(max-width: 480px)" _srcset="{{src}}?auto=format&w=160&h=320&fit=crop&crop={{crop}}">
        <img class="" data-object-fit="cover" src="{{src}}?auto=format&w=108&h=204&blur=10&fit=crop&crop={{crop}}" alt="">
        {{/eq}}
      </picture>
      {{/if}}
    </div>

  {{#url}}</a>{{/url}}
</div>
