<div id="gallery_grid__item__class--{{@index}}" class="gallery__grid__item gallery__grid__item--{{class}}" style="order:{{@index}}">

   <div class="gallery__text">
      <header class="gallery__text__header">
        <h1 class="gallery__text__header__title type__header">{{title}}</h1>
        <h2 class="gallery__text__header__sub type__body">{{description}}</h2>
      </header>
    </div>

</div>
