<div id="gallery_grid__item__class{{@index}}" class="gallery__grid__item gallery__grid__item--{{class}}" style="order:{{@index}}">

   <div class="gallery__text">
      <header class="gallery__text__header type--sub">
        <h2 class="type--base">{{title}}</h2>
        <h1 class="type--doublebase">{{short}}</h1>
      </header>


    </div>

</div>
